.so-widget-sow-slider-default-abf3e628296a .sow-slider-base .sow-slider-pagination li a {
  background: #FFFFFF;
}
.so-widget-sow-slider-default-abf3e628296a .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-slider-default-abf3e628296a .sow-slider-base .sow-slide-nav a {
  color: #FFFFFF;
}